@font-face {
  font-family: Helvetica;
  font-style: normal;
  src: url(../fonts/HelveticaNeue/HelveticaNeue.ttf); 
}
@font-face {
  font-family: HelveticaLight;
  font-style: normal;
  src: url(../fonts/HelveticaNeue/HelveticaNeueLight.ttf);
}
@font-face {
  font-family: Awesome;
  font-style: normal;
  src: url(../fonts/FontAwesome/FontAwesome.otf);
}
@font-face {
  font-family: TonduBeta;
/*  font-style: normal;*/
  src: url(../fonts/TonduBeta/TonduBeta.ttf);
}
@font-face {
  font-family: Trump;
/*  font-style: normal;*/
  src: url(../fonts/Trump/Trump.ttf);
}