* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full_page {
    height: 100vh;
    width: 100vw;
}

::-moz-selection {
    color: #fff;
    background: #111517;
}

::selection {
    color: #fff;
    background: #111517;
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: center;
    min-width: 320px;
}

.white {
    color: #fff;
}

.black {
    color: #111517;
}

.grey {
    color: #888;
}

.red {
    color: #cb2121;
}

a {
    text-decoration: none;
    z-index: 1;
}

p {
    font-size: 1.125rem;
}

p span {
    color: #cb2121;
}

.biggest_straight {
    margin: 0;
    padding: 0;
    font-family: 'Trump', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    z-index: 1;
}

.medium_straight {
    font-family: 'Trump', sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

.small_straight {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.big_slant {
    font-family: Playfair Display;
    font-size: 2em;
    margin: 3% 25%;
    z-index: 1;
}

.flex_container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*    border: 3px solid red;*/
}

.video_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video_bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-filter: blur(0px) grayscale(1) brightness(0.2);
    filter: blur(0px) grayscale(1) brightness(0.2);
}

.nav_container {
    width: 100%;
    height: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.logo {
    margin: 3%;
    height: 100%;
    width: 5%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo i {
    color: #cb2121;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.logo i:hover {
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.nav_button {
    margin: 3%;
    width: 40px;
    height: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../img/menu.png);
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content_container {
    height: 100%;
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    z-index: 1;
}

i {
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

i:hover {
    color: #cb2121;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.circle {
    width: 125px;
    height: 125px;
    border: 5px solid #cb2121;
    border-radius: 9999px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.circle i {
    color: #cb2121;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.circle:hover i {
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.circle:hover {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.text_container {
    width: 100%;
    text-align: left;
    z-index: 1;
}

.line {
    height: 5px;
    width: 5%;
    background-color: #cb2121;
    margin: 3% 0%;
}

.container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
}

.centered {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hire_button {
    width: 100%;
    height: 550px;
    background-color: #cb2121;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.credits_item {
    -ms-flex-preferred-size: 450px;
    flex-basis: 350px;
    text-align: center;
    height: 250px;
    /*    border: 5px solid black;*/
    /*    background-color: bisque;*/
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.credits_container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    padding: 10%;
    /*    border: 3px solid blue;*/
    background-color: #111517;
}

.hire_button_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background-color: #b11d1d;
    z-index: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.hire_button:hover .hire_button_bg {
    -webkit-transform: translateX(-20%) skewX(-20deg);
    transform: translateX(-20%) skewX(-20deg);
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.full {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.do_container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
    height: 450px;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 5% 5%;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.do_container:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15), 0 0px 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
}

.do_img {
    width: 100%;
    height: 200px;
    margin-bottom: 10%;
}

.do_img img {
    width: 100%;
    height: 100%;
}

.skills_item {
    -ms-flex-preferred-size: 49.4vw;
    flex-basis: 49.4vw;
    height: 350px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #111517
}

.skills_item_img {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    height: 40%;
    border-right: 4px solid #fff;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 5%;
}

.skills_item_text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    padding: 5%;
}